main.app-wrapper {
  margin-top: 50px;
  width: 100%;
}

.animated {
  animation-name: showLeft;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  animation-duration: 0.7s;
  /* display: none; */
  animation-fill-mode: forwards;
}

@keyframes showLeft {
  from {
      opacity: 0;
      transform: translateY(90px)
  }
  to {
      opacity: 1;
      transform: translateY(0)
  }
}